<!DOCTYPE html>
<html lang="en">
  <head>
<%- include('./links') %>

<%- include('./meta_tags') %>
  </head>
 <!-- Jacket Ad -->
 <!-- <div id="jacket-ad" class="jacket-ad">
    <div class="jacket-ad-content">
      <button class="jacket-ad-close" id="close-ad">&times;</button>
      <img src="./goodwill-cleaning/images/ads.jpg" alt="Jacket Ad" />
    </div>
  </div> -->

  <%- include('./desktop_navigation') %>

  <%- include('./mobile_navigation') %>
  <body>
