<section class="mobile-navigation">
    <div class="mobile-navbar">
      <div class="logo-section">
        <a href="index.html"><img src="./goodwill-cleaning/images/logo.png" /></a>
      </div>

      <i class="fa-solid fa-bars menu-bars"></i>
      <div class="sidebar">
        <i class="fa-solid fa-x cross"></i>
        <ul>
          <li class="selected"><a href="index.html">Home</a></li>
          <li><a href="about.html">About</a></li>
          <li><a href="services.html">Services</a></li>
          <li><a href="project.html">Project</a></li>
          <li><a href="pricing.html">Pricing</a></li>
          <li><a href="blog.html">Blog</a></li>
          <li><a href="contact.html">Contact</a></li>
        </ul>
      </div>
    </div>
    <div class="top-nav py-1">
      <div class="container">
        <div class="row">
          <div
            class="header-contact-info d-flex justify-content-between gap-5"
          >
            <div
              class="header-contact col-12 col-md-8 d-flex align-items-center"
            >
              <i class="fa-solid fa-phone icon"></i> &nbsp;
              <span class="gray-text">Phone no: </span> &nbsp;
              <span class="imp-text">+977-9841221213</span> &nbsp; &nbsp;
              <i class="fa-regular fa-envelope icon"></i> &nbsp;
              <span class="gray-text">Email: </span> &nbsp;
              <span class="imp-text">abc@gmail.com</span>
            </div>
            <div class="social-media d-flex gap-3 align-items-center">
              <a href="#"
                ><i class="social-icon fa-brands fa-facebook"></i
              ></a>
              <a href="#"
                ><i class="social-icon fa-brands fa-instagram"></i
              ></a>
              <a href="#"><i class="social-icon fa-brands fa-twitter"></i></a>
              <a href="#"
                ><i class="social-icon fa-brands fa-linkedin"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>