<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <%- include('../layout/link') %>
    <title>CyBurning</title>
  </head>

  <body>
    <!-- SIDEBAR -->
    <%- include('../layout/sidebar') %>
    <!-- SIDEBAR -->

    <!-- CONTENT -->
    <section id="content">
      <!-- NAVBAR -->
      <%- include('../layout/header') %>
      <!-- NAVBAR -->

      <!-- MAIN -->
      <main>
        <div class="head-title">
          <div class="left">
            <h1>Custom Field</h1>
            <ul class="breadcrumb">
              <li>
                <a href="/cms/dashboard">Dashboard</a>
              </li>
              <li><i class="bx bx-chevron-right"></i></li>
              <li>
                <a href="/cms/setting">Custom Field</a>
              </li>
              <li><i class="bx bx-chevron-right"></i></li>
              <li>
                <a class="active">Add Field</a>
              </li>
            </ul>
          </div>
          <a href="/cms/custom-field" class="btn-create">
            <i class="fas fa-arrow-left"></i>
            <span class="text">Back</span>
          </a>
        </div>

        <form action="#">
          <div class="form-container">
            <div class="post-right-container col-md-12">
              <div class="form-box">
                <div class="form-label">
                  <label for="title">Title</label
                  ><span class="important">*</span>
                </div>
                <input
                  type="text"
                  class="form-control"
                  name="title"
                  id="title"
                />
              </div>

              <div class="d-flex justify-content-between">
                <div class="form-box col-5">
                  <div class="form-label">
                    <label for="title">Currency</label
                    ><span class="important">*</span>
                  </div>
                  <input
                    type="text"
                    class="form-control"
                    name="currency"
                    id="currency"
                  />
                </div>

                <div class="form-box col-5">
                  <div class="form-label">
                    <label for="title">Price</label
                    ><span class="important">*</span>
                  </div>
                  <input
                    type="text"
                    class="form-control"
                    name="price"
                    id="price"
                  />
                </div>
              </div>

              <div class="includes-repeater">
                <div class="form-box">
                  <div class="form-label">
                    <label for="title">Price includes</label
                    ><span class="important">*</span>
                  </div>
                </div>
              </div>

              <div
                class="btn-container-add"
                style="display: flex; justify-content: flex-end"
              >
                <button
                  class="full-submit-button form-control"
                  style="width: 200px; margin-top: 25px; float: right"
                  id="field-repeator-btn"
                >
                  <i class="fa-solid fa-plus"></i>Add Repeator
                </button>
              </div>
            </div>
            <div
              class="btn-container"
              style="
                margin-top: 25px;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                width: 100%;
                gap: 10px;
              "
            >
              <button class="submit-button form-control" style="height: 50px">
                Submit
              </button>
              <button
                class="cancel-button form-control"
                style="height: 50px; display: block"
              >
                Cancel
              </button>
            </div>
          </div>
        </form>
      </main>
      <!-- MAIN -->
    </section>
    <!-- CONTENT -->

    <%- include('../layout/script') %>

    <script>
    

      document.addEventListener("DOMContentLoaded", function () {
        let itenaryRepetor = document.querySelector("#field-repeator-btn");

        itenaryRepetor.addEventListener("click", (event) => {
          event.preventDefault();
          const container = document.querySelector(".includes-repeater");

          const newElement = document.createElement("div");
          newElement.className = "d-flex gap-3";
          newElement.innerHTML = `
  <div class="form-box col-8">
                  <input
                    type="text"
                    class="form-control"
                    name="includes"
                    id="includes"
                  />
                </div>
  <div class="delete-btn" id="delete-btn" style="height:37px; width:39px;"><i class="fa-solid fa-minus"></i></div>
`;

          // Append the new element to the container
          container.appendChild(newElement);

          deleteButtons = document.querySelectorAll(".delete-btn");

          deleteButtons.forEach((currentValue, index, array) => {
            currentValue.addEventListener("click", () => {
              currentValue.parentElement.remove();
            });
          });
        });
      });
    </script>
  </body>
</html>
