<form action="/cms/permissions/<%= role._id %>" method="POST">
  <table>
    <thead>
      <tr>
        <th>Model</th>
        <th>Create</th>
        <th>Read</th>
        <th>Update</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <% 
      const groupedPermissions = {};
      allPermissions.forEach(permission => {
        if (!groupedPermissions[permission.model.name]) {
          groupedPermissions[permission.model.name] = [];
        }
        groupedPermissions[permission.model.name].push(permission);
      });

      Object.keys(groupedPermissions).forEach(modelName => {
      %>
        <tr>
          <td><%= modelName %></td>
          <% groupedPermissions[modelName].forEach(permission => { %>
            <td>
              <input
                type="checkbox"
                name="permissions"
                value="<%= `${permission.model._id}:${permission.type}` %>"
                <%= rolePermissionMap.has(`${permission.model._id}:${permission.type}`) ? 'checked' : '' %>
              />
            </td>
          <% }) %>
        </tr>
      <% }) %>
    </tbody>
  </table>

  <button type="submit">Save Permissions</button>
</form>
