<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <!-- Bootstrap Toggle CSS -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-toggle/2.2.2/css/bootstrap4-toggle.min.css"
      rel="stylesheet"
    />

    <!-- Boxicons -->
    <link
      href="https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css"
      rel="stylesheet"
    />
    <!-- My CSS -->
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/responsive.css" />

    <title>CyBurning</title>
  </head>
  <body>
    <!-- SIDEBAR -->
    <%- include('../layout/sidebar') %>
    <!-- SIDEBAR -->

    <!-- CONTENT -->
    <section id="content">
      <!-- NAVBAR -->
      <%- include('../layout/header') %>
      <!-- NAVBAR -->

      <!-- MAIN -->
      <main>
        <div class="head-title">
          <div class="left">
            <h1>Post</h1>
            <ul class="breadcrumb">
              <li>
                <a href="/cms/dashboard">Dashboard</a>
              </li>
              <li><i class="bx bx-chevron-right"></i></li>
              <li>
                <a class="active" href="#">Post</a>
              </li>
            </ul>
          </div>
          <a href="#" class="btn-create">
            <i class="fas fa-plus"></i>
            <span class="text">Create a Post</span>
          </a>
        </div>

        <div class="search-container">
          <form onsubmit="event.preventDefault();" role="search">
            <label for="search">Search for stuff</label>
            <input
              id="search"
              type="search"
              placeholder="Search..."
              autofocus
              required
            />
            <button type="submit">Go</button>
          </form>
        </div>

        <div class="row">
          <div class="card-container">
            <div class="col-md-6 col-lg-4">
              <div
                class="card post post-img-one position-relative overflow-hidden hover-img"
              >
                <div class="position-relative">
                  <a href="../main/blog-detail.html">
                    <img
                      src="/images/default.jpg"
                      class="card-img-top"
                      alt="spike-img"
                    />
                  </a>
                
                
                </div>
                <div class="card-body p-4">
                  <div class="category-published">
                    <div class="d-flex align-items-center gap-4 icon-container">
                   
                        <div class="d-flex align-items-center gap-2">
                          <a href="#" class="text-black"
                            ><i class="fas fa-edit"></i
                          ></a>
                        </div>
                        <div class="d-flex align-items-center gap-2">
                          <a href="#" class="text-black"
                            ><i class="fas fa-trash-alt"></i
                          ></a>
                        </div>
                        
                      </div>
                    <label class="wraper" for="something">
                      <span class="label-text">Published</span>
                      <div class="switch-wrap">
                        <input type="checkbox" checked id="something" />
                        <div class="switch"></div>
                      </div>
                    </label>
                  </div>
                  
                  <a
                    class="d-block my-2 text-dark link-primary"
                    href=""
                    >As yen tumbles, gadget-loving Japan goes for iPhones</a
                  >
                  <div class="d-flex align-items-center gap-4 icon-container">
                   
                    <div
                      class="d-flex align-items-center ms-auto post-calender"
                    >
                      <i class="fas fa-calendar-check px-1 text-dark"></i>Mon,
                      Jan 16
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-6 col-lg-4">
              <div
                class="card post post-img-one position-relative overflow-hidden hover-img"
              >
                <div class="position-relative">
                  <a href="../main/blog-detail.html">
                    <img
                      src="/images/default.jpg"
                      class="card-img-top"
                      alt="spike-img"
                    />
                  </a>
                  <img
                    src="/images/icons/profile.png"
                    alt="spike-img"
                    class="img-fluid rounded-circle position-absolute bottom-0 start-0 mb-n9 ms-9"
                    width="40"
                    height="40"
                    data-bs-toggle="tooltip"
                    data-bs-placement="top"
                    data-bs-title="Addie Keller"
                  />
                  <span class="card-author-name">Author Name</span>
                </div>
                <div class="card-body p-4">
                  <div class="category-published">
                    <span class="badge category-name px-2 mt-3">Gadget</span>
                    <label class="wraper" for="something1">
                      <span class="label-text">Published</span>
                      <div class="switch-wrap">
                        <input type="checkbox" checked id="something1" />
                        <div class="switch"></div>
                      </div>
                    </label>
                  </div>
                  <a
                    class="d-block my-2 text-dark fw-semibold link-primary"
                    href="../main/blog-detail.html"
                    >As yen tumbles, gadget-loving Japan goes for iPhones</a
                  >
                  <a
                    class="d-block my-2 text-dark link-primary"
                    href="../main/blog-detail.html"
                    >As yen tumbles, gadget-loving Japan goes for iPhones</a
                  >
                  <div class="d-flex align-items-center gap-4">
                    <div class="d-flex align-items-center gap-2">
                      <i class="fas fa-heart"></i>9,125
                    </div>
                    <div class="d-flex align-items-center gap-2">
                      <a href="#" class="text-dark"
                        ><i class="fas fa-eye"></i
                      ></a>
                    </div>
                    <div class="d-flex align-items-center gap-2">
                      <a href="#" class="text-black"
                        ><i class="fas fa-edit"></i
                      ></a>
                    </div>
                    <div class="d-flex align-items-center gap-2">
                      <a href="#" class="text-black"
                        ><i class="fas fa-trash-alt"></i
                      ></a>
                    </div>
                    <div class="d-flex align-items-center ms-auto">
                      <i class="fas fa-calendar-check px-1 text-dark"></i>Mon,
                      Jan 16
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-6 col-lg-4">
              <div
                class="card post post-img-one position-relative overflow-hidden hover-img"
              >
                <div class="position-relative">
                  <a href="../main/blog-detail.html">
                    <img
                      src="/images/default.jpg"
                      class="card-img-top"
                      alt="spike-img"
                    />
                  </a>
                  <img
                    src="/images/icons/profile.png"
                    alt="spike-img"
                    class="img-fluid rounded-circle position-absolute bottom-0 start-0 mb-n9 ms-9"
                    width="40"
                    height="40"
                    data-bs-toggle="tooltip"
                    data-bs-placement="top"
                    data-bs-title="Addie Keller"
                  />
                  <span class="card-author-name">Author Name</span>
                </div>
                <div class="card-body p-4">
                  <div class="category-published">
                    <span class="badge category-name px-2 mt-3">Gadget</span>
                    <label class="wraper" for="something">
                      <span class="label-text">Published</span>
                      <div class="switch-wrap">
                        <input type="checkbox" checked id="something" />
                        <div class="switch"></div>
                      </div>
                    </label>
                  </div>
                  <a
                    class="d-block my-2 text-dark fw-semibold link-primary"
                    href="../main/blog-detail.html"
                    >As yen tumbles, gadget-loving Japan goes for iPhones</a
                  >
                  <a
                    class="d-block my-2 text-dark link-primary"
                    href="../main/blog-detail.html"
                    >As yen tumbles, gadget-loving Japan goes for iPhones</a
                  >
                  <div class="d-flex align-items-center gap-4">
                    <div class="d-flex align-items-center gap-2">
                      <i class="fas fa-heart"></i>9,125
                    </div>
                    <div class="d-flex align-items-center gap-2">
                      <a href="#" class="text-dark"
                        ><i class="fas fa-eye"></i
                      ></a>
                    </div>
                    <div class="d-flex align-items-center gap-2">
                      <a href="#" class="text-black"
                        ><i class="fas fa-edit"></i
                      ></a>
                    </div>
                    <div class="d-flex align-items-center gap-2">
                      <a href="#" class="text-black"
                        ><i class="fas fa-trash-alt"></i
                      ></a>
                    </div>
                    <div class="d-flex align-items-center ms-auto">
                      <i class="fas fa-calendar-check px-1 text-dark"></i>Mon,
                      Jan 16
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-6 col-lg-4">
              <div
                class="card post post-img-one position-relative overflow-hidden hover-img"
              >
                <div class="position-relative">
                  <a href="../main/blog-detail.html">
                    <img
                      src="/images/default.jpg"
                      class="card-img-top"
                      alt="spike-img"
                    />
                  </a>
                  <img
                    src="/images/icons/profile.png"
                    alt="spike-img"
                    class="img-fluid rounded-circle position-absolute bottom-0 start-0 mb-n9 ms-9"
                    width="40"
                    height="40"
                    data-bs-toggle="tooltip"
                    data-bs-placement="top"
                    data-bs-title="Addie Keller"
                  />
                  <span class="card-author-name">Author Name</span>
                </div>
                <div class="card-body p-4">
                  <div class="category-published">
                    <span class="badge category-name px-2 mt-3">Gadget</span>
                    <label class="wraper" for="something">
                      <span class="label-text">Published</span>
                      <div class="switch-wrap">
                        <input type="checkbox" checked id="something" />
                        <div class="switch"></div>
                      </div>
                    </label>
                  </div>
                  <a
                    class="d-block my-2 text-dark fw-semibold link-primary"
                    href="../main/blog-detail.html"
                    >As yen tumbles, gadget-loving Japan goes for iPhones</a
                  >
                  <a
                    class="d-block my-2 text-dark link-primary"
                    href="../main/blog-detail.html"
                    >As yen tumbles, gadget-loving Japan goes for iPhones</a
                  >
                  <div class="d-flex align-items-center gap-4">
                    <div class="d-flex align-items-center gap-2">
                      <i class="fas fa-heart"></i>9,125
                    </div>
                    <div class="d-flex align-items-center gap-2">
                      <a href="#" class="text-dark"
                        ><i class="fas fa-eye"></i
                      ></a>
                    </div>
                    <div class="d-flex align-items-center gap-2">
                      <a href="#" class="text-black"
                        ><i class="fas fa-edit"></i
                      ></a>
                    </div>
                    <div class="d-flex align-items-center gap-2">
                      <a href="#" class="text-black"
                        ><i class="fas fa-trash-alt"></i
                      ></a>
                    </div>
                    <div class="d-flex align-items-center ms-auto">
                      <i class="fas fa-calendar-check px-1 text-dark"></i>Mon,
                      Jan 16
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="pagination-container">
          <ul class="pagination">
            <li>
              <a href="#">First</a>
            </li>
            <li>
              <a href="#">Prev</a>
            </li>
            <li>
              <a href="#">1</a>
            </li>
            <li class="active">
              <a href="#">2</a>
            </li>
            <li>
              <a href="#">3</a>
            </li>
            <li>
              <a href="#">Next</a>
            </li>
            <li>
              <a href="#">Last</a>
            </li>
          </ul>
        </div>
      </main>
      <!-- MAIN -->
    </section>
    <!-- CONTENT -->

    <script src="/js/script.js"></script>
  </body>
</html>
