<style>
    @import url('https://fonts.googleapis.com/css?family=Open+Sans|PT+Sans+Narrow');
    
    $in-out-cubic: cubic-bezier(0.65, 0.05, 0.36, 1);

    @mixin transform($transform...) {
        -webkit-transform: $transform;
        -moz-transform: $transform;
        -ms-transform: $transform;
        -o-transform: $transform;
        transform: $transform;
    }

    @mixin transform-origin($transform-origin...) {
        -webkit-transform-origin: $transform-origin;
        -moz-transform-origin: $transform-origin;
        -ms-transform-origin: $transform-origin;
        -o-transform-origin: $transform-origin;
        transform-origin: $transform-origin;
    }

    @mixin key-frame($name) {
        @-webkit-keyframes #{$name} { @content; }
        @-moz-keyframes #{$name} { @content; }
        @-o-keyframes #{$name} { @content; }
        @keyframes #{$name} { @content; }
    }

    @mixin animation($animation...) {
        -webkit-animation: $animation;
        -moz-animation: $animation;
        -o-animation: $animation;
        animation: $animation;
    }

    @mixin animation-delay($animation...) {
        -webkit-animation-delay: $animation;
        -moz-animation-delay: $animation;
        -o-animation-delay: $animation;
        animation-delay: $animation;
    }

    body {
        overflow: hidden;
        font-family: 'Open Sans', sans-serif;
        background-color: #87cefa; /* Light sky blue for the ocean effect */
        margin: 0;
    }

    .not-found {
        position: relative;
        overflow: hidden;
        height: 100vh;
        margin: 0;
        [class*="wave"] {
            position: absolute;
            width: 100%;
        }

        .sky-bg {
            background: url(http://res.cloudinary.com/andrewhani/image/upload/v1524821915/404/bg-1_gvybzk.svg);
            height: 100%;
        }

        @for $i from 1 through 7 {
            &.wave-#{$i} {
                background: url(http://res.cloudinary.com/andrewhani/image/upload/v1524501869/404/wave-#{$i}.svg);
            }
        }

        .wave-lost {
            position: absolute;
            top: 20%;
            left: 50%;
            transform: translateX(-50%);
            color: #fff;
            font-size: 12rem;
            font-weight: bold;
            text-shadow: 2px 2px #000;
            @include animation(surf 2s);
        }

        .wave-message {
            position: absolute;
            bottom: 100px;
            left: 50%;
            transform: translateX(-50%);
            color: #fff;
            font-size: 2.5rem;
            text-align: center;
            text-shadow: 2px 2px #000;
            @include animation(wave-message 1s);
        }

        .boat {
            position: absolute;
            top: 50%;
            right: 15%;
            width: 150px;
            transform: translateY(-50%);
            @include animation(boat 15s $in-out-cubic infinite);
        }

        .wave-island {
            position: absolute;
            top: 130px;
            left: 20%;
            padding: 10px;
            width: 170px;
        }
    }

    /* Keyframes for animations */
    @include key-frame(boat) {
        0% { @include transform-origin(left); @include transform(rotate(-15deg) translate3d(400px, 0px, 0px)); }
        20% { @include transform-origin(left); @include transform(rotate(15deg) translate3d(-20vw, 0, 0px)); }
        25% { @include transform-origin(left); @include transform(rotate(-7deg) translate3d(-25vw, 0, 0px)); }
        50% { @include transform-origin(left); @include transform(rotate(5deg) translate3d(-50vw, 0, 0px)); }
        60% { @include transform-origin(left); @include transform(rotate(-1deg) translate3d(-60vw, 0, 0px)); }
        100% { @include transform-origin(left); @include transform(rotate(2deg) translate3d(-100vw, 0, 0px)); }
    }

    @include key-frame(surf) {
        0% { @include transform-origin(right); @include transform(rotate(15deg) translate3d(0, 800px, 0)); }
        30% { @include transform-origin(right); @include transform(rotate(15deg) translate3d(0, 500px, 0)); }
        100% { @include transform-origin(right); @include transform(rotate(0) translate3d(0, 0, 0px)); }
    }

    @include key-frame(wave-message) {
        0% { @include transform(translate3d(0, 120%, 0)); }
        100% { @include transform(translate3d(0, 0, 0)); }
    }
</style>

<div class="not-found parallax">
    <div class="sky-bg"></div>
    <div class="wave-7"></div>
    <div class="wave-6"></div>
    <a class="wave-island" href="#">
    </a>
    <div class="wave-5"></div>
    <div class="wave-lost wrp">
        <span>4</span>
        <span>0</span>
        <span>4</span>
    </div>
    <div class="wave-4"></div>
    <div class="wave-boat">
        <img class="boat" src="http://res.cloudinary.com/andrewhani/image/upload/v1524501894/404/boat.svg" alt="Boat">
    </div>
    <div class="wave-3"></div>
    <div class="wave-2"></div>
    <div class="wave-1"></div>
    <div class="wave-message">
        <p>You're lost</p>
        <p>You do not have permission to access this page</p>
    </div>
</div>

<script>
    const parallax = (e) => {
        const windowWidth = $(window).width();
        if (windowWidth < 768) return;

        const halfFieldWidth = $(".parallax").width() / 2,
            halfFieldHeight = $(".parallax").height() / 2,
            fieldPos = $(".parallax").offset(),
            x = e.pageX,
            y = e.pageY - fieldPos.top,
            newX = (x - halfFieldWidth) / 30,
            newY = (y - halfFieldHeight) / 30;

        $('.parallax [class*="wave"]').each(function(index) {
            $(this).css({
                transition: "",
                transform: `translate3d(${index * newX}px, ${index * newY}px, 0px)`
            });
        });
    };

    const stopParallax = () => {
        $('.parallax [class*="wave"]').css({
            transform: "translate(0px,0px)",
            transition: "all .7s"
        });

        setTimeout(() => {
            $('.parallax [class*="wave"]').css("transition", "");
        }, 700);
    };

    $(document).ready(function() {
        $(".not-found").on("mousemove", parallax);
        $(".not-found").on("mouseleave", stopParallax);
    });
</script>
