<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <%- include('../layout/link') %>
    <title>CyBurning</title>
  </head>

  <body>
    <!-- SIDEBAR -->
    <%- include('../layout/sidebar') %>
    <!-- SIDEBAR -->

    <!-- CONTENT -->
    <section id="content">
      <!-- NAVBAR -->
      <%- include('../layout/header') %>
      <!-- NAVBAR -->

      <!-- MAIN -->
      <main>
        <div class="head-title">
          <div class="left">
            <h1>Settings</h1>
            <ul class="breadcrumb">
              <li>
                <a href="/cms/dashboard">Dashboard</a>
              </li>
              <li><i class="bx bx-chevron-right"></i></li>
              <li>
                <a href="/cms/setting">Setting</a>
              </li>
              <li><i class="bx bx-chevron-right"></i></li>
              <li>
                <a class="active" >Add Field</a>
              </li>
            </ul>
          </div>
          <a href="/cms/setting" class="btn-create">
            <i class="fas fa-arrow-left"></i>
            <span class="text">Back</span>
          </a>
        </div>

        <form action="#">
          <div class="form-container">
            <div class="setting-input">
              <div class="setting-container">
              <div class="form-box" style="width: 15%;">
                <div class="form-label">
                  <label for="other_feature">Target Type</label>
                </div>
                <select
                  name="targetType"
                  class="select-target-type form-control"
                >
                  <option>Cat A</option>
                  <option>Cat B</option>
                </select>
              </div>
             
             
                  <div class="form-box" style="width: 100%;">
                    <div class="form-label">
                      <label for="title">Includes</label>
                      <span class="important">*</span>
                    </div>
                    <div
                      class="upload-container color-container include-container"
                      style="display: flex; flex-direction: column"
                    >
                  
                    </div>
                    <div
                      class="btn-container-add"
                      style="display: flex; justify-content: flex-end"
                    >
                      <button
                        class="full-submit-button form-control"
                        style="width: 200px; margin-top: 25px; float: right"
                        id="repeator-btn"
                      >
                        <i class="fa-solid fa-plus"></i>Add Repeator
                      </button>
                    </div>
                  </div>
                  </div>

                  <div class="setting-container">
                  <div class="form-box" style="width: 15%;">
                    <div class="form-label">
                      <label for="other_feature">Target Type</label>
                    </div>
                    <select
                      name="targetType"
                      class="select-target-type form-control"
                    >
                      <option>Cat A</option>
                      <option>Cat B</option>
                    </select>
                  </div>
                 
                 
                  <div class="form-box" style="width: 100%;">
                    <div class="form-label">
                      <label for="slug">Slug</label
                      ><span class="important">*</span>
                    </div>
                    <input type="text" class="form-control" name="slug" id="slug" />
                  </div>
                      </div>
                  </div>
                  </div>
          
        </form>
      </main>
      <!-- MAIN -->
    </section>
    <!-- CONTENT -->

    <%- include('../layout/script') %>

    <script>
      $(document).ready(function domReady() {
        $(".select-target-type").select2({
          placeholder: "Member Type",
        });
      });
    </script>

   <script>
   document.addEventListener("DOMContentLoaded", function () {
    let itenaryRepetor = document.querySelector("#repeator-btn");

itenaryRepetor.addEventListener("click", (event) => {
  event.preventDefault();
  const container = document.querySelector(".upload-container");

  const newElement = document.createElement("div");
  newElement.className = "color-upload-contains";
  newElement.innerHTML = `
  <div class="title-itenary">
                <div class="form-label color-product">
                  <label for="Title" style="
                          background-color: transparent;
                          color: #000;
                          text-align: left;
                          width: inherit;
                        ">Title</label><span class="important">*</span>
                </div>
                <input type="text" name="itenary_title" class="form-control">
                </div>
                <div class="description-itenary">
                  <div class="form-label color-product">
                    <label for="description_itenary" style="
                          background-color: transparent;
                          color: #000;
                          text-align: left;
                          width: inherit;
                        ">Description</label>
                  </div>
                  <textarea
                    type="text"
                    class="form-control"
                    name="description_itenary"
                    rows="7"
                    cols="35"
                    id="description_itenary"
                  ></textarea>
                </div>
  <div class="delete-btn" id="delete-btn" style="height:50px; width:50px;"><i class="fa-solid fa-minus"></i></div>
`;

  // Append the new element to the container
  container.appendChild(newElement);

  deleteButtons = document.querySelectorAll(".delete-btn");

  deleteButtons.forEach((currentValue, index, array) => {
    currentValue.addEventListener("click", () => {
      currentValue.parentElement.remove();
    });
  });
});
    });
   </script>


  </body>
</html>
