<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <%- include('../layout/link') %>
    <title>CyBurning</title>
  </head>

  <body>
    <!-- SIDEBAR -->
    <%- include('../layout/sidebar') %>
    <!-- SIDEBAR -->

    <!-- CONTENT -->
    <section id="content">
      <!-- NAVBAR -->
      <%- include('../layout/header') %>
      <!-- NAVBAR -->

      <!-- MAIN -->
      <main>
        <div class="head-title">
          <div class="left">
            <h1>Custom Field</h1>
            <ul class="breadcrumb">
              <li>
                <a href="/cms/dashboard">Dashboard</a>
              </li>
              <li><i class="bx bx-chevron-right"></i></li>
              <li>
                <a class="active">Custom Field</a>
              </li>
            </ul>
          </div>
          <a href="/cms/custom-field/create" class="btn-create">
            <i class="fas fa-plus"></i>
            <span class="text">Create Field</span>
          </a>
        </div>

        <div class="row">
          <div class="card-container">
            <div class="one-card-container col-md-6 col-lg-4 col-sm-12">
              <div class="card category position-relative overflow-hidden">
                <div
                  class="position-relative"
                  style="
                    top: 19px;
                    left: 22px;
                    font-size: 21px;
                    font-weight: 500;
                  "
                >
                  <span class="card-category-name">Custom Field Name</span>
                </div>
                <div class="card-body p-4">
                  <div class="category-published">
                    <span class="badge parent-name px-2 mt-3">Model Name</span>
                    <label class="wraper" for="something">
                      <span class="label-text">Published</span>
                      <div class="switch-wrap">
                        <input type="checkbox" checked id="something" />
                        <div class="switch"></div>
                      </div>
                    </label>
                  </div>

                  <div
                    class="d-flex align-items-center gap-4 icon-container"
                    style="margin-top: 21px"
                  >
                    <div class="d-flex align-items-center gap-2">
                      <a href="/cms/category/edit/1" class="text-black"
                        ><i class="fas fa-edit"></i
                      ></a>
                    </div>
                    <div class="d-flex align-items-center gap-2">
                      <a href="#" class="text-black"
                        ><i class="fas fa-trash-alt"></i
                      ></a>
                    </div>
                   
                  </div>
                </div>
              </div>
            </div>

            <div class="one-card-container col-md-6 col-lg-4 col-sm-12">
              <div class="card category position-relative overflow-hidden">
                <div
                  class="position-relative"
                  style="
                    top: 19px;
                    left: 22px;
                    font-size: 21px;
                    font-weight: 500;
                  "
                >
                  <span class="card-category-name">Custom Field Name</span>
                </div>
                <div class="card-body p-4">
                  <div class="category-published">
                    <span class="badge parent-name px-2 mt-3">Model Name</span>
                    <label class="wraper" for="something">
                      <span class="label-text">Published</span>
                      <div class="switch-wrap">
                        <input type="checkbox" checked id="something" />
                        <div class="switch"></div>
                      </div>
                    </label>
                  </div>

                  <div
                    class="d-flex align-items-center gap-4 icon-container"
                    style="margin-top: 21px"
                  >
                    <div class="d-flex align-items-center gap-2">
                      <a href="/cms/category/edit/1" class="text-black"
                        ><i class="fas fa-edit"></i
                      ></a>
                    </div>
                    <div class="d-flex align-items-center gap-2">
                      <a href="#" class="text-black"
                        ><i class="fas fa-trash-alt"></i
                      ></a>
                    </div>
                   
                  </div>
                </div>
              </div>
            </div>

            <div class="one-card-container col-md-6 col-lg-4 col-sm-12">
              <div class="card category position-relative overflow-hidden">
                <div
                  class="position-relative"
                  style="
                    top: 19px;
                    left: 22px;
                    font-size: 21px;
                    font-weight: 500;
                  "
                >
                  <span class="card-category-name">Custom Field Name</span>
                </div>
                <div class="card-body p-4">
                  <div class="category-published">
                    <span class="badge parent-name px-2 mt-3">Model Name</span>
                    <label class="wraper" for="something">
                      <span class="label-text">Published</span>
                      <div class="switch-wrap">
                        <input type="checkbox" checked id="something" />
                        <div class="switch"></div>
                      </div>
                    </label>
                  </div>

                  <div
                    class="d-flex align-items-center gap-4 icon-container"
                    style="margin-top: 21px"
                  >
                    <div class="d-flex align-items-center gap-2">
                      <a href="/cms/category/edit/1" class="text-black"
                        ><i class="fas fa-edit"></i
                      ></a>
                    </div>
                    <div class="d-flex align-items-center gap-2">
                      <a href="#" class="text-black"
                        ><i class="fas fa-trash-alt"></i
                      ></a>
                    </div>
                   
                  </div>
                </div>
              </div>
            </div>

            <div class="one-card-container col-md-6 col-lg-4 col-sm-12">
              <div class="card category position-relative overflow-hidden">
                <div
                  class="position-relative"
                  style="
                    top: 19px;
                    left: 22px;
                    font-size: 21px;
                    font-weight: 500;
                  "
                >
                  <span class="card-category-name">Custom Field Name</span>
                </div>
                <div class="card-body p-4">
                  <div class="category-published">
                    <span class="badge parent-name px-2 mt-3">Model Name</span>
                    <label class="wraper" for="something">
                      <span class="label-text">Published</span>
                      <div class="switch-wrap">
                        <input type="checkbox" checked id="something" />
                        <div class="switch"></div>
                      </div>
                    </label>
                  </div>

                  <div
                    class="d-flex align-items-center gap-4 icon-container"
                    style="margin-top: 21px"
                  >
                    <div class="d-flex align-items-center gap-2">
                      <a href="/cms/category/edit/1" class="text-black"
                        ><i class="fas fa-edit"></i
                      ></a>
                    </div>
                    <div class="d-flex align-items-center gap-2">
                      <a href="#" class="text-black"
                        ><i class="fas fa-trash-alt"></i
                      ></a>
                    </div>
                   
                  </div>
                </div>
              </div>
            </div>

            <div class="one-card-container col-md-6 col-lg-4 col-sm-12">
              <div class="card category position-relative overflow-hidden">
                <div
                  class="position-relative"
                  style="
                    top: 19px;
                    left: 22px;
                    font-size: 21px;
                    font-weight: 500;
                  "
                >
                  <span class="card-category-name">Custom Field Name</span>
                </div>
                <div class="card-body p-4">
                  <div class="category-published">
                    <span class="badge parent-name px-2 mt-3">Model Name</span>
                    <label class="wraper" for="something">
                      <span class="label-text">Published</span>
                      <div class="switch-wrap">
                        <input type="checkbox" checked id="something" />
                        <div class="switch"></div>
                      </div>
                    </label>
                  </div>

                  <div
                    class="d-flex align-items-center gap-4 icon-container"
                    style="margin-top: 21px"
                  >
                    <div class="d-flex align-items-center gap-2">
                      <a href="/cms/category/edit/1" class="text-black"
                        ><i class="fas fa-edit"></i
                      ></a>
                    </div>
                    <div class="d-flex align-items-center gap-2">
                      <a href="#" class="text-black"
                        ><i class="fas fa-trash-alt"></i
                      ></a>
                    </div>
                   
                  </div>
                </div>
              </div>
            </div>

            <div class="one-card-container col-md-6 col-lg-4 col-sm-12">
              <div class="card category position-relative overflow-hidden">
                <div
                  class="position-relative"
                  style="
                    top: 19px;
                    left: 22px;
                    font-size: 21px;
                    font-weight: 500;
                  "
                >
                  <span class="card-category-name">Custom Field Name</span>
                </div>
                <div class="card-body p-4">
                  <div class="category-published">
                    <span class="badge parent-name px-2 mt-3">Model Name</span>
                    <label class="wraper" for="something">
                      <span class="label-text">Published</span>
                      <div class="switch-wrap">
                        <input type="checkbox" checked id="something" />
                        <div class="switch"></div>
                      </div>
                    </label>
                  </div>

                  <div
                    class="d-flex align-items-center gap-4 icon-container"
                    style="margin-top: 21px"
                  >
                    <div class="d-flex align-items-center gap-2">
                      <a href="/cms/category/edit/1" class="text-black"
                        ><i class="fas fa-edit"></i
                      ></a>
                    </div>
                    <div class="d-flex align-items-center gap-2">
                      <a href="#" class="text-black"
                        ><i class="fas fa-trash-alt"></i
                      ></a>
                    </div>
                   
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </main>
      <!-- MAIN -->
    </section>
    <!-- CONTENT -->

    <%- include('../layout/script') %>

    <script>
      $(document).ready(function domReady() {
        $(".select-input-type").select2({
          placeholder: "Input Type",
        });
      });
    </script>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        let selectOption = document.querySelectorAll(".select-input-type");

        selectOption.forEach((currentValue, index, array) => {
          currentValue.addEventListener("change", () => {});
        });

        let itenaryRepetor = document.querySelector("#input-repeator-btn");

        itenaryRepetor.addEventListener("click", (event) => {
          event.preventDefault();
          const container = document.querySelector(".repeater-container");

          const newElement = document.createElement("div");
          newElement.className = "input-repeator-container";
          newElement.innerHTML = `
 <div class="input-field-container" style="">
                <div class="form-box" style="width: 15%">
                  <div class="form-label">
                    <label for="input_type">Input Type</label>
                  </div>
                  <select
                    name="inputType"
                    class="select-input-type form-control"
                  >
                    <option>Text</option>
                    <option>Textarea</option>
                    <option>Repeator</option>
                  </select>
                </div>

                <div class="form-box" style="width: 50%">
                  <div class="form-label">
                    <label for="label_name">Label Name</label
                    ><span class="important">*</span>
                  </div>
                  <input
                    type="text"
                    class="form-control"
                    name="label_name"
                    id="label_name"
                  />
                </div>

                <div class="form-box" style="width: 50%">
                  <div class="form-label">
                    <label for="field_name">Field Name</label
                    ><span class="important">*</span>
                  </div>
                  <input
                    type="text"
                    class="form-control"
                    name="field_name"
                    id="field_name"
                  />
                </div>
              </div>
  <div class="delete-btn" id="delete-btn" style="height:30px; width:30px;"><i class="fa-solid fa-minus"></i></div>
`;

          // Append the new element to the container
          container.appendChild(newElement);

          deleteButtons = document.querySelectorAll(".delete-btn");

          deleteButtons.forEach((currentValue, index, array) => {
            currentValue.addEventListener("click", () => {
              currentValue.parentElement.remove();
            });
          });
        });
      });
    </script>
  </body>
</html>
