<section class="hero-section">
    <!-- <div class="overlay"></div>
    <div class="swiper-container">
      <div class="swiper-wrapper">
        
        <% sliders.forEach(function(slider) { %>

        <div
          class="swiper-slide"
          style="background-image: url('<%= slider.featured_image %>')"
        >
          <div class="container">
            <div
              class="slider-info row align-items-center justify-content-start"
            >
              <div
                class="col-md-6 ftco-a
                imate slider-contains"
                data-aos="fade-up"
              >
                <h1 class="mb-4 big-heading" data-aos-delay="100">
                  <%= slider.title %>
                </h1>
                <h2 class="subheading"><%= slider.subtitle %></h2>
              </div>
            </div>
          </div>
        </div>
        <% }) %>
      </div>


      <div class="swiper-pagination"></div>

      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div> -->

    <div class="video-container">
      <% sliders.forEach(function(slider) { %>
        <h1 class="mb-4 big-heading d-none" data-aos-delay="100">
          <%= slider.title %>
        </h1>
      <% }) %>
      <video autoplay muted loop>
          <source src="/uploads/sliders/intro.mp4" type="video/mp4">
          Your browser does not support the video tag.
      </video>
  </div>
  </section>