
<script src="./goodwill-cleaning/vendor/jquery/jquery.js"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
  integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
  crossorigin="anonymous"
></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

<!-- Masonry.js -->
<script src="https://unpkg.com/masonry-layout@4.2.2/dist/masonry.pkgd.min.js"></script>

<!-- LightGallery.js -->
<script src="https://cdn.jsdelivr.net/npm/lightgallery@2.7.1/lightgallery.umd.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/lightgallery@2.7.1/plugins/thumbnail/lg-thumbnail.umd.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/lightgallery@2.7.1/plugins/zoom/lg-zoom.umd.min.js"></script>

<script src="/goodwill-cleaning/js/app.js"></script>

<script>
  $(document).ready(function () {
  $('#InquiryForm').on('submit', function (e) {
    e.preventDefault();

    const formData = {
      name: $('#name').val(),
      phone: $('#phone').val(),
      email: $('#email').val(),
      address: $('#address').val(),
      message: $('#message').val() ?? null,
    };

    $.ajax({
      type: 'POST',
      url: '/mail/sendInquiries', // Make sure this URL matches the backend route
      data: formData,
      success: function (response) {
        // Show success message using SweetAlert
        
        Swal.fire({
          title: 'Success!',
          text: 'Your appointment request has been sent successfully!',
          icon: 'success',
          confirmButtonText: 'OK',
        });
      },
      error: function (error) {
        // Show error message using SweetAlert
        Swal.fire({
          title: 'Error!',
          text: 'Something went wrong. Please try again later.',
          icon: 'error',
          confirmButtonText: 'OK',
        });
      },
    });
  });
});
</script>


<script>
  $(document).ready(function () {
      $(document).on('submit', '.bookForm', function (e) {
          e.preventDefault();

          const formData = $(this).serialize(); // Serialize the form data

          $.ajax({
              type: 'POST',
              url: '/mail/bookOrder',
              data: formData,
              success: function (response) {
                  Swal.fire({
                      title: 'Success!',
                      text: 'Your appointment request has been sent successfully!',
                      icon: 'success',
                      confirmButtonText: 'OK',
                  });
              },
              error: function (error) {
                  Swal.fire({
                      title: 'Error!',
                      text: 'Something went wrong. Please try again later.',
                      icon: 'error',
                      confirmButtonText: 'OK',
                  });
              },
          });
      });
  });
</script>


</body>
</html>