<!-- Mobile Navigation -->
<nav class="mobile-sidebar">
  <div class="logo-cross">
      <a href="/cms/dashboard" class="logo">CyBurning</a>
      <span class="cross" id="sidebar-close"></span>
  </div>
  <div class="menu-content">
      <ul class="menu-items">
      <div class="menu-title">
        <a href="/cms/dashboard">Dashboard</a>
      </div>
      <li class="item">
          <div class="submenu-item">
          <span>Post</span>
          <i class="fa-solid fa-chevron-right"></i>
          </div>
          <ul class="menu-items submenu">
          <div class="menu-title">
              <i class="fa-solid fa-chevron-left"></i>
              Post
          </div>
         
          <li class="item">
              <a href="/cms/post">Post</a>
          </li>
          <li class="item">
              <a href="/cms/category">Category</a>
          </li>
          <li class="item">
              <a href="/cms/author">Author</a>
          </li>
          </ul>
      </li>
      
      <li class="item">
        <div class="submenu-item">
          <span>User</span>
          <i class="fa-solid fa-chevron-right"></i>
          </div>
          <ul class="menu-items submenu">
          <div class="menu-title">
              <i class="fa-solid fa-chevron-left"></i>
              User
          </div> 
          <li class="item">
              <a href="/cms/user">User</a>
          </li>
          <li class="item">
              <a href="/cms/role">Role</a>
          </li>
          </ul>
      </li>

      <li class="item">
        <a href="/cms/static-page">Pages</a>
    </li>

    <li class="item">
      <div class="submenu-item">
        <span>Product</span>
        <i class="fa-solid fa-chevron-right"></i>
        </div>
        <ul class="menu-items submenu">
        <div class="menu-title">
            <i class="fa-solid fa-chevron-left"></i>
            Product
        </div> 
        <li class="item">
            <a href="/cms/product">Product</a>
        </li>
        <li class="item">
            <a href="/cms/e-category">Product Category</a>
        </li>
        </ul>
    </li>


      <li class="item">
          <a href="/cms/testomonial">Testomonial</a>
      </li>
      <li class="item">
          <a href="/cms/partner">Partner</a>
      </li>

      <li class="item"></li>
        <div class="submenu-item">
          <span>Team</span>
          <i class="fa-solid fa-chevron-right"></i>
          </div>
          <ul class="menu-items submenu">
          <div class="menu-title">
              <i class="fa-solid fa-chevron-left"></i>
              Team
          </div> 
          <li class="item">
              <a href="/cms/team">Team</a>
          </li>
          <li class="item">
              <a href="/cms/team-type">Team Type</a>
          </li>
          </ul>
      </li>

      <li class="item">
        <a href="/cms/setting">Setting</a>
    </li>


      </ul>
  </div>
</nav>
<!-- Mobile Navigation-->

<!-- SIDEBAR -->
<section id="sidebar">
<a href="/cms/dashboard" class="brand">
  <img src="/images/cyburning.png" class="brand-logo" />
  <span class="text">CyBurning</span>
</a>
<ul class="side-menu top">
  <li class="">
    <a href="/cms/dashboard">
      <i class="bx bxs-dashboard"></i>
      <span class="text">Dashboard</span>
    </a>
  </li>
  <li class="dropdown active">
    <a>
      <i class="bx bx-notepad"></i>
      <span class="text">Post</span>
      <i class="bx bx-chevron-down dropdown-icon"></i>
    </a>
    <ul class="dropdown-menu">
      <li>
        <a href="/cms/post"><i class="bx bx-notepad"></i>Post</a>
      </li>
      <li>
        <a href="/cms/category"><i class="bx bx-polygon"></i>Category</a>
      </li>
      <li>
        <a href="/cms/author"><i class="bx bxs-pen"></i>Author</a>
      </li>
    </ul>
  </li>
  <li class="dropdown">
    <a>
      <i class="bx bx-notepad"></i>
      <span class="text">User</span>
      <i class="bx bx-chevron-down dropdown-icon"></i>
    </a>
    <ul class="dropdown-menu">
      <li>
        <a href="/cms/user"><i class="bx bx-notepad"></i>User</a>
      </li>
      <li>
        <a href="/cms/role"><i class="bx bxs-pen"></i>Role</a>
      </li>
    </ul>
  </li>
  <li>
    <a href="/cms/static-page">
      <i class="bx bxs-doughnut-chart"></i>
      <span class="text">Pages</span>
    </a>
  </li>
  <li class="dropdown">
    <a>
      <i class="bx bx-notepad"></i>
      <span class="text">Project</span>
      <i class="bx bx-chevron-down dropdown-icon"></i>
    </a>
    <ul class="dropdown-menu">
      <li>
        <a href="/cms/product"><i class="bx bx-notepad"></i>Product</a>
      </li>
      <li>
        <a href="/cms/e-category"><i class="bx bx-polygon"></i>Product Category</a>
      </li>
    </ul>
  </li>
  <li>
    <a href="/cms/testomonial">
      <i class="bx bxs-message-dots"></i>
      <span class="text">Testomonials</span>
    </a>
  </li>
  <li>
    <a href="/cms/partner">
      <i class="bx bxs-group"></i>
      <span class="text">Partner</span>
    </a>
  </li>
  <li class="dropdown">
    <a>
      <i class="bx bx-notepad"></i>
      <span class="text">Team</span>
      <i class="bx bx-chevron-down dropdown-icon"></i>
    </a>
    <ul class="dropdown-menu">
      <li>
        <a href="/cms/team"><i class="bx bx-notepad"></i>Team</a>
      </li>
      <li>
        <a href="/cms/team-type"><i class="bx bx-polygon"></i>Team Type</a>
      </li>
    </ul>
  </li>
</ul>
<ul class="side-menu">
  <li>
    <a href="/cms/custom-field">
      <i class="bx bxs-cog"></i>
      <span class="text">Custom Field</span>
    </a>
  </li>
  <li>
    <a href="/logout" class="logout">
      <i class="bx bxs-log-out-circle"></i>
      <span class="text">Logout</span>
    </a>
  </li>
</ul>
</section>
<!-- SIDEBAR -->
<script src="/js/script.js"></script>
