    <!-- package section -->
    <div class="package-section">
        <div class="container">
          <div class="tagline" data-aos="fade-up">Price & Plans</div>
          <div class="title" data-aos="fade-up">Choose Your Perfect Plans</div>
          <div class="row gap-5" style="justify-content: center">
            <div class="package-card col-12 col-md-3 pb-4" data-aos="fade-up">
              <div class="icon-container">
                <img class="w-100" src="./goodwill-cleaning/images/small_logo.png" alt="" />
              </div>
              <div class="package-info">
                <div class="heading">Basic Package</div>
                <div class="price">149 $</div>
                <ul>
                  <li><i class="fa-solid fa-check"></i> Bedrooms cleaning</li>
                  <li><i class="fa-solid fa-check"></i> Vacuuming</li>
                  <li><i class="fa-solid fa-check"></i> Bathroom cleaning</li>
                  <li><i class="fa-solid fa-check"></i> Mirrow cleaning</li>
                  <li><i class="fa-solid fa-check"></i> Livingroom cleaning</li>
                </ul>
                <a href="#" class="btn btn-primary btn-round mr-md-4 py-2 px-4"
                  >Get Started <span class="ion-ios-arrow-forward"></span
                ></a>
              </div>
            </div>
  
            <div class="package-card col-12 col-md-3 pb-4" data-aos="fade-up">
              <div class="icon-container">
                <img class="w-100" src="./goodwill-cleaning/images/small_logo.png" alt="" />
              </div>
              <div class="package-info">
                <div class="heading">Starter</div>
                <div class="price">Rs. 4000</div>
                <ul>
                  <li><i class="fa-solid fa-check"></i> Bedrooms cleaning</li>
                  <li><i class="fa-solid fa-check"></i> Vacuuming</li>
                  <li><i class="fa-solid fa-check"></i> Bathroom cleaning</li>
                  <li><i class="fa-solid fa-check"></i> Mirrow cleaning</li>
                  <li><i class="fa-solid fa-check"></i> Livingroom cleaning</li>
                </ul>
                <a href="#" class="btn btn-primary btn-round mr-md-4 py-2 px-4"
                  >Get Started <span class="ion-ios-arrow-forward"></span
                ></a>
              </div>
            </div>
  
            <div class="package-card col-12 col-md-3 pb-4" data-aos="fade-up">
              <div class="icon-container">
                <img class="w-100" src="./goodwill-cleaning/images/small_logo.png" alt="" />
              </div>
              <div class="package-info">
                <div class="heading">Starter</div>
                <div class="price">Rs. 4000</div>
                <ul>
                  <li><i class="fa-solid fa-check"></i> Bedrooms cleaning</li>
                  <li><i class="fa-solid fa-check"></i> Vacuuming</li>
                  <li><i class="fa-solid fa-check"></i> Bathroom cleaning</li>
                  <li><i class="fa-solid fa-check"></i> Mirrow cleaning</li>
                  <li><i class="fa-solid fa-check"></i> Livingroom cleaning</li>
                </ul>
                <a href="#" class="btn btn-primary btn-round mr-md-4 py-2 px-4"
                  >Get Started <span class="ion-ios-arrow-forward"></span
                ></a>
              </div>
            </div>
          </div>
        </div>
      </div>