    <!-- about-section -->
    <section class="about-section pt-5">
        <div class="container">
          <div class="row">
            <div class="about-right col-md-6 col-12 py-4" data-aos="fade-right">
              <span class="tagline">Goodwill Cleaning</span>
              <h2 class="title">Why Choose Us</h2>
              <p>
                At Goodwill Cleaning, we pride ourselves on delivering exceptional
                cleaning services tailored to your unique needs. Our experienced
                professionals use eco-friendly products and methods, ensuring a
                safe environment for you and your loved ones. With our commitment
                to reliability and customer satisfaction, you can trust us to
                maintain a pristine space that meets the highest standards.
              </p>
              <ul>
                <li>
                  <div class="d-flex gap-2">
                    <div class="icon-container">
                      <img class="w-100" src="./goodwill-cleaning/images/small_logo.png" alt="" />
                    </div>
                    <div class="choose-contains">
                      <div class="title fs-3">Experienced Professionals</div>
                      <p class="fs-6 fw-light">
                        Our team consists of skilled cleaning professionals with
                        extensive experience in the industry.
                      </p>
                    </div>
                  </div>
                </li>
  
              
  
                <li>
                  <div class="d-flex gap-2">
                    <div class="icon-container">
                      <img class="w-100" src="./goodwill-cleaning/images/small_logo.png" alt="" />
                    </div>
                    <div class="choose-contains">
                      <div class="title fs-3">Eco-Friendly Practices</div>
                      <p class="fs-6 fw-light">
                        We prioritize your health and the environment by using
                        eco-friendly cleaning products and methods.
                      </p>
                    </div>
                  </div>
                </li>
  
                <li>
                  <div class="d-flex gap-2">
                    <div class="icon-container">
                      <img class="w-100" src="./goodwill-cleaning/images/small_logo.png" alt="" />
                    </div>
                    <div class="choose-contains">
                      <div class="title fs-3">Customized Solutions</div>
                      <p class="fs-6 fw-light">
                        Our personalized cleaning plans are designed to meet your
                        specific needs, ensuring you receive the best service
                        possible.
                      </p>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
  
            <div class="about-left col-md-6 col-12">
              <img
                src="./goodwill-cleaning/images/man-yellow-shirt-is-sweeping-floor_1085346-131170.avif"
                data-aos="fade-up"
                style="height: 100%;"
              />
            </div>
          </div>
        </div>
      </section>