// <!-- appointment-section -->
<section class="appointment-box">
  <div class="container">
    <div class="bg-white d-md-flex pl-md-4 pb-5 pb-md-0">
      <form action="#" class="appointment w-100">
        <div class="row justify-content-center">
          <div class="col-12 col-md d-flex align-items-center pt-4 pt-md-0">
            <div class="form-group py-md-4 py-2 px-4 px-md-0">
              <label for="">Name</label>
              <input
                type="text"
                name="name"
                class="form-control"
                id="name"
                placeholder="Your Name"
              />
            </div>
          </div>

          <div class="col-12 col-md d-flex align-items-center">
            <div class="form-group py-md-4 py-2 px-4 px-md-0">
              <label for="">Phone Number</label>
              <input
                type="text"
                name="name"
                class="form-control"
                id="phone"
                placeholder="Your Number"
              />
            </div>
          </div>

          <div class="col-12 col-md d-flex align-items-center">
            <div class="form-group py-md-4 py-2 px-4 px-md-0">
              <label for="">Email Address</label>
              <input
                type="email"
                name="name"
                class="form-control"
                id="email"
                placeholder="Email Address"
              />
            </div>
          </div>


          <div class="col-12 col-md d-flex align-items-center">
            <div class="form-group py-md-4 py-2 px-4 px-md-0">
              <label for="">Address</label>
              <input
                type="email"
                name="name"
                class="form-control"
                id="address"
                placeholder="Address"
              />
            </div>
          </div>

          <div
            class="col-12 col-md d-flex align-items-center align-items-stretch"
          >
            <div
              class="form-group py-md-4 py-2 px-4 px-md-0 d-flex align-items-stretch bg-primary"
            >
              <input
                type="submit"
                value="Make an Appointment"
                class="btn btn-primary py-3 px-4"
              />
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>