    <!-- project Section -->
    <div class="project-section">
        <div class="container">
          <div class="tagline" data-aos="fade-up">Our Project</div>
          <div class="title" data-aos="fade-up">
            We have done many latest cleaning project
          </div>
          <div class="row">
            <% posts.forEach(post => { %> 
              <% if (post.category[0].slug === 'project') {
              %>
            <div class="project-card col-12 col-md-3" data-aos="fade-up">
              <div class="project-image-container">
                <img src="<%= post.featured_image ? post.featured_image : './goodwill-cleaning/images/default.png' %>" alt="" />
              </div>
              <div class="overlay">
                <a href="photo-detail.html">
                  <i class="fa-solid fa-up-right-and-down-left-from-center"></i>
                  <div class="heading"><%= post.title %></div>
                </a>
              </div>
            </div>
            <% } %> <% }) %>
          </div>
        </div>
      </div>