<!-- service Section -->
<section class="service-section py-4">
  <div class="container">
    <span class="tagline" data-aos="fade-up">Services</span>
    <h2 class="title" data-aos="fade-up">How We Work</h2>
    <div class="row">
      <% posts.forEach(post => { %> 
        <% if (post.category[0].slug === 'services') {
      %>
      <div
        class="service-card col-12 col-md-4"
        data-aos="fade-up"
        data-aos="fade-up"
      >
        <a href="/post/<%= post._id %>">
          <div class="row">
            <div class="icon-container col-md-2 col-2">
              <div class="bg"></div>
              <img
                src="<%= post.featured_image ? post.featured_image : './goodwill-cleaning/images/default.png' %>"
                alt=""
              />
            </div>
            <div class="service-contains col-md-8 col-9">
              <h2 class="heading"><%= post.title %></h2>
              <p class="gray-text-dark"><%- post.content %></p>
              <div class="links">Read More</div>
            </div>
          </div>
        </a>
      </div>
      <% } %> <% }) %>
    </div>
  </div>
</section>
