    <!-- Step to  provide Step -->
    <section class="service-section py-4">
        <div class="container">
          <span class="tagline" data-aos="fade-up">What We Offer</span>
          <h2 class="title" data-aos="fade-up">Our Approach</h2>
          <div class="row">
            <div class="service-card col-12 col-md-4" data-aos="fade-up">
              <a href="#">
                <div class="row">
                  <div class="icon-container col-md-2 col-2">
                    <div class="bg"></div>
                    1
                  </div>
                  <div class="service-contains col-md-8 col-9">
                    <h2 class="heading">Assessment and Customization</h2>
                    <p class="gray-text-dark">
                      We start by evaluating your space's specific cleaning needs,
                      considering high-traffic areas and your unique requirements.
                      Our team develops a tailored cleaning plan to ensure
                      effective and efficient results.
                    </p>
                  </div>
                </div>
              </a>
            </div>
  
            <div class="service-card col-12 col-md-4" data-aos="fade-up">
              <a href="#">
                <div class="row">
                  <div class="icon-container col-md-2 col-2">
                    <div class="bg"></div>
                    2
                  </div>
                  <div class="service-contains col-md-8 col-9">
                    <h2 class="heading">Deep Cleaning and Sanitization</h2>
                    <p class="gray-text-dark">
                      Utilizing eco-friendly products and advanced techniques, we
                      perform a comprehensive deep clean, focusing on floors,
                      surfaces, and high-touch areas to ensure a safe and hygienic
                      environment.
                    </p>
                  </div>
                </div>
              </a>
            </div>
  
            <div class="service-card col-12 col-md-4" data-aos="fade-up">
              <a href="#">
                <div class="row">
                  <div class="icon-container col-md-2 col-2">
                    <div class="bg"></div>
                    3
                  </div>
                  <div class="service-contains col-md-8 col-9">
                    <h2 class="heading">Maintenance and Follow-Up</h2>
                    <p class="gray-text-dark">
                      To maintain a consistently clean space, we offer ongoing
                      maintenance services. Regular follow-ups and scheduled
                      cleanings ensure long-lasting results and a well-maintained
                      environment for your property.
                    </p>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </section>