    <!-- about-section -->
    <section class="about-section">
        <div class="container">
          <div class="row">
            <div class="about-left col-md-6 col-12">
              <img
                src="./goodwill-cleaning/images/window-cleaning-about.jpg"
                data-aos="fade-up"
                alt=""
              />
              <div class="hours-time" data-aos="fade-left">
                <div
                  class="tagline m-md-4 m-3"
                  data-aos="fade-left"
                  data-aos-delay="200"
                >
                  Business Hours
                </div>
                <div class="fact-days">
                  <span
                    class="small-info m-md-4 m-2"
                    data-aos="fade-left"
                    data-aos-delay="200"
                    >Opening Days</span
                  >
                  <div class="days">
                    <span
                      class="imp-text ml-4"
                      data-aos="fade-left"
                      data-aos-delay="200"
                      >Monday - Sataurday</span
                    >
                    <span
                      class="gray-text mr-4"
                      data-aos="fade-left"
                      data-aos-delay="200"
                      >6am to 9pm
                    </span>
                    
                    <br />
                  </div>
                  <span
                    class="small-info m-md-4 m-2"
                    data-aos="fade-left"
                    data-aos-delay="200"
                    >Vacations</span
                  >
                  <div class="days">
                    <span
                      class="gray-text mx-md-4 mx-2"
                      data-aos="fade-left"
                      data-aos-delay="200"
                      >All Sunday Days</span
                    >
                    <br />
                  </div>
                </div>
                <div class="about-contact p-4 mt-md-4 mt-2">
                  <div class="title" data-aos="fade-left" data-aos-delay="200">
                    For Emergency Cases
                  </div>
                  <div
                    class="contact-text"
                    data-aos="fade-left"
                    data-aos-delay="200"
                  >
                    0420900310
                  </div>
                </div>
              </div>
            </div>
            <div class="about-right col-md-6 col-12 py-4" data-aos="fade-right">
              <% pages.forEach(page => { %>
                <% if (page.slug === 'about-us') { %>
              <span class="tagline"><%= page.title %></span>
              <h2 class="title">Professional Cleaning Service in Australia</h2>
              <p>
                <%- page.content %>
              </p>
              <div class="facts-and-figure px-2 py-4">
                <div class="row">
                  <div class="col-4">
                    <span class="fact-number" data-aos="fade-up">6 +</span>
                    <div class="fact-title" data-aos="fade-up">
                      Years of Experience
                    </div>
                  </div>
                  <div class="col-4">
                    <span class="fact-number" data-aos="fade-up">10</span>
                    <div class="fact-title" data-aos="fade-up">
                      Working Staffs
                    </div>
                  </div>
                  <% } %> <% }) %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>