<section class="hero-section">
    <div class="overlay"></div>
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <!-- First Slide -->
        <div
          class="swiper-slide"
          style="background-image: url('./goodwill-cleaning/images/slider-01.png')"
        >
          <div class="container">
            <div
              class="slider-info row align-items-center justify-content-start"
            >
              <div
                class="col-md-6 ftco-a
                imate slider-contains"
                data-aos="fade-up"
              >
                <h1 class="mb-4 big-heading" data-aos-delay="100">
                  Goodwill Cleaning Pvt Ltd
                </h1>
                <h2 class="subheading">"Cleaning With Care"</h2>
              </div>
            </div>
          </div>
        </div>

        <!-- Second Slide -->
        <!-- <div
          class="swiper-slide"
          style="background-image: url('images/bg_1.jpg')"
        >
          <div class="container">
            <div
              class="slider-info row align-items-center justify-content-start"
            >
              <div class="col-md-6 ftco-animate">
                <h2 class="subheading" data-aos="fade-up">
                  Experience our premium cleaning services
                </h2>
                <h1
                  class="mb-4 big-heading"
                  data-aos="fade-up"
                  data-aos-delay="100"
                >
                  Your comfort is our priority.
                </h1>
                <p data-aos="fade-up" data-aos-delay="200">
                  <a
                    href="#"
                    class="btn btn-primary btn-round mr-md-4 py-2 px-4"
                    >Learn more <span class="ion-ios-arrow-forward"></span
                  ></a>
                </p>
              </div>
            </div>
          </div>
        </div> -->

        <!-- Add more slides as needed -->
      </div>

      <!-- Add Pagination -->
      <div class="swiper-pagination"></div>
      <!-- Add Navigation -->
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>
  </section>