<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <%- include('../../layout/link') %>
    <title>CyBurning</title>
  </head>

  <body>
    <!-- SIDEBAR -->
    <%- include('../../layout/sidebar') %>
    <!-- SIDEBAR -->

    <!-- CONTENT -->
    <section id="content">
      <!-- NAVBAR -->
      <%- include('../../layout/header') %>
      <!-- NAVBAR -->

      <!-- MAIN -->
      <main>
        <div class="head-title">
          <div class="left">
            <h1>Add User</h1>
            <ul class="breadcrumb">
              <li>
                <a href="/cms/dashboard">Dashboard</a>
              </li>
              <li><i class="bx bx-chevron-right"></i></li>
              <li>
                <a href="/cms/user">User</a>
              </li>
              <li><i class="bx bx-chevron-right"></i></li>
              <li>
                <a class="active">Add User</a>
              </li>
            </ul>
          </div>
          <a href="/cms/user" class="btn-create">
            <i class="fas fa-arrow-left"></i>
            <span class="text">Back</span>
          </a>
        </div>

        <form action="/cms/post/create" method="post">
          <div class="form-container">
            <div class="post-right-container col-md-7 col-sm-12">
              <div class="form-box">
                <div class="form-label">
                  <label for="name">Full Name</label
                  ><span class="important">*</span>
                </div>
                <input type="text" class="form-control" name="name" />
              </div>

              <div class="form-box">
                <div class="form-label">
                  <label for="role">Role</label>
                </div>
                <select name="role" class="select-tags form-control" multiple="multiple">
                  <option value="Role A">Tag A</option>
                  <option value="Role B">Tag B</option>
                </select>
              </div>

              <div class="form-box">
                <div class="form-label">
                  <label for="email">Email</label
                  ><span class="important">*</span>
                </div>
                <input type="text" class="form-control" name="email" />
              </div>

              <div class="form-box">
                <div class="form-label">
                  <label for="password">Password</label
                  ><span class="important">*</span>
                </div>
                <input type="type" onkeyup="trigger()" class="form-control password" name="password" />
            </div>

            <div class="indicator">
                <span class="weak"></span>
                <span class="medium"></span>
                <span class="strong"></span>
             </div>
             <div class="indicator-text"></div>
            <div class="form-box"  style="display: flex; justify-content: center; align-items: center;">
                
                <button class="form-control generate-btn">Generate</button>
            </div>
 
              <div class="form-box">
                <div class="form-label">
                  <label for="confirm">Rewrite Password</label
                  ><span class="important">*</span>
                </div>
                <input type="password" class="form-control" name="confirm" />
              </div>
            </div>

            <div class="post-left-container col-md-4 col-sm-12">
              <div class="form-box" style="margin-bottom: 15px">
                <div class="form-label">
                  <label for="Published">Published</label>
                  <div class="form-check form-switch" style="margin-top: 10px">
                    <label class="form-check-label" for="Status">Status</label>
                    <input
                      class="form-check-input"
                      type="checkbox"
                      id="status"
                    />
                  </div>
                </div>
              </div>

              <div class="form-box">
                <div class="form-label">
                  <label for="Published_date">Published Date</label>
                </div>
                <input type="datetime-local" name="date" id="date" class="form-control"
                  value="#"
                  placeholder="YYYY/MM/DD HH:MM" />
              </div>

              <div class="form-box">
                <div class="form-label">
                  <label for="Published_date">Featued Image</label>
                </div>
                <div class="upload-container-one">
                  <input
                    id="upload-input-one"
                    type="file"
                    accept="image/*"
                    hidden
                  />
                  <div id="image-container-one">
                    <img
                      src="/images/upload.png"
                      class="uploaded-image"
                    />
                  </div>
                  <label for="upload-input-one">Upload Image</label>
                </div>
              </div>
              <input type="submit" class="full-submit-button form-control" />
              <input
                  type="button"
                  class="cancel-button form-control"
                  value="cancel"
                />
              <div class="button-box">
                <input type="submit" class="submit-button form-control" />
                <input
                  type="button"
                  class="cancel-button form-control"
                  value="cancel"
                />
              </div>
            </div>
          </div>
        </form>
      </main>
      <!-- MAIN -->
    </section>
    <!-- CONTENT -->

    <%- include('../../layout/script') %>
    <script>

      $(".select-tags").select2({
            placeholder: "Tags",
          });

     const passwordBox = document.querySelector('.password');
     const upperCase = "ABCDEFGHIJKLMNOPQRSTUVWXYZ"
     const lowerCase = "abcdefghijklmnopqrstuvwxyz"
     const length= 12;
     const number = "0123456789";
     const symbol = "@#$&%^()_+|></-=";
     const allCars = upperCase+lowerCase+number+symbol;

     document.querySelector('.generate-btn').addEventListener('click',(event)=>{
        event.preventDefault();
        createPassword();
     })
     
     function createPassword(){
        
        let password = "";
        password += upperCase[Math.floor(Math.random() * upperCase.length)];
        password += lowerCase[Math.floor(Math.random() * lowerCase.length)];
        password += symbol[Math.floor(Math.random() * symbol.length)];
        password += number[Math.floor(Math.random() * number.length)];

        while(length > password.length){
            password += allCars[Math.floor(Math.random() * allCars.length)];
        }
        
        passwordBox.value = password;
        trigger();
     }

     const indicator = document.querySelector(".indicator");
         const input = document.querySelector(".password");
         const weak = document.querySelector(".weak");
         const medium = document.querySelector(".medium");
         const strong = document.querySelector(".strong");
         const text = document.querySelector(".indicator-text");

         let regExpWeak = /[a-z]/;
         let regExpMedium = /\d+/;
         let regExpStrong = /.[!,@,#,$,%,^,&,*,?,_,~,-,(,)]/;
         function trigger(){
           if(input.value != ""){
             indicator.style.display = "block";
             indicator.style.display = "flex";
             if(input.value.length <= 3 && (input.value.match(regExpWeak) || input.value.match(regExpMedium) || input.value.match(regExpStrong)))no=1;
             if(input.value.length >= 6 && ((input.value.match(regExpWeak) && input.value.match(regExpMedium)) || (input.value.match(regExpMedium) && input.value.match(regExpStrong)) || (input.value.match(regExpWeak) && input.value.match(regExpStrong))))no=2;
             if(input.value.length >= 6 && input.value.match(regExpWeak) && input.value.match(regExpMedium) && input.value.match(regExpStrong))no=3;
             if(no==1){
               weak.classList.add("active");
               text.style.display = "block";
               text.textContent = "Your password is too week";
               text.classList.add("weak");
             }
             if(no==2){
               medium.classList.add("active");
               text.textContent = "Your password is medium";
               text.classList.add("medium");
             }else{
               medium.classList.remove("active");
               text.classList.remove("medium");
             }
             if(no==3){
               weak.classList.add("active");
               medium.classList.add("active");
               strong.classList.add("active");
               text.textContent = "Your password is strong";
               text.classList.add("strong");
             }else{
               strong.classList.remove("active");
               text.classList.remove("strong");
             }
            
           }else{
             indicator.style.display = "none";
             text.style.display = "none";
           }
         }
    </script>
  </body>
</html>
